.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0;
  padding: 0;
}

.page-link {
  cursor: pointer;
  padding: 15px;
  border-radius: '20px';
}

.active-item {
  background-color: purple;
  color: #fff;
  border-radius: 5px;
}
